<nav class="navbar navbar-expand-md navbar-dark bg-dark px-3 navbar-custom" data-controller="navbar">

  <!-- LEFT: LOGO -->
  <%= link_to "Kevin Stal",
              root_path(locale: I18n.locale),
              class: "navbar-brand logo-font" %>

  <% language_labels = { de: "Deutsch", en: "English", nl: "Nederlands" } %>

  <!-- RIGHT TOP BAR GROUP -->
  <div class="navbar-top-right">

    <!-- DESKTOP LANGUAGE -->
    <div class="lang-switcher lang-switcher-desktop d-none d-md-flex">
      <% [:de, :en, :nl].each do |lang| %>
        <%= link_to url_for(locale: lang),
            class: "lang-link #{'active' if I18n.locale == lang}" do %>

          <%= lang.to_s.upcase %>

        <% end %>
      <% end %>
    </div>

    <!-- HAMBURGER -->
    <button class="navbar-toggler custom-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            data-navbar-target="toggler">

      <span></span>
      <span></span>
      <span></span>

    </button>

  </div>

  <!-- COLLAPSIBLE MENU -->
  <div class="collapse navbar-collapse" id="navbarNav" data-navbar-target="collapse">

    <ul class="navbar-nav nav-links">

      <li class="nav-item">
<%= link_to t("nav.home"),
  root_path(locale: I18n.locale),
  class: "nav-link nav-underline js-nav-link #{'active' if current_page?(root_path(locale: I18n.locale))}" %>
      </li>

      <li class="nav-item">
<%= link_to t("nav.about"),
  about_path(locale: I18n.locale),
  class: "nav-link nav-underline js-nav-link #{'active' if current_page?(about_path(locale: I18n.locale))}" %>
      </li>

      <li class="nav-item">
<%= link_to t("nav.contact"),
  contact_path(locale: I18n.locale),
  class: "nav-link nav-underline js-nav-link #{'active' if current_page?(contact_path(locale: I18n.locale))}" %>
      </li>

      <li class="nav-item mobile-language-item d-md-none">
        <div class="mobile-language-links">
          <% [:de, :en, :nl].each do |lang| %>
            <%= link_to language_labels[lang],
                url_for(locale: lang),
                class: "mobile-language-link #{'active' if I18n.locale == lang}",
                data: { action: "pointerdown->navbar#keepOpen click->navbar#keepOpen" } %>
          <% end %>
        </div>
      </li>

    </ul>

  </div>

</nav>
