<div class="container py-5 hero-content">

  <div class="hero-grid">

    <!-- LEFT -->
    <div class="hero-left-about">
      <h1 class="fw-bold mb-4">
        <%= t("about.hero.title") %>
      </h1>

      <p class="mb-2">
        <%= simple_format(t("about.description")) %>
      </p>
    </div>

    <!-- RIGHT -->
    <div class="hero-right-about">
<div class="contact-box about-box">

  <%= image_tag "kevin.jpg",
      alt: "Kevin Stal",
      class: "about-avatar" %>

  <h5 class="mb-3">
    <%= t("about.sections.facts") %>
  </h5>

  <p class="mb-1"><strong><%= t("about.facts.name") %>:</strong> Kevin</p>
  <p class="mb-1"><strong><%= t("about.facts.age") %>:</strong> 37</p>
  <p class="mb-1">
  <strong><%= t("about.facts.nationality") %>:</strong>
  <% if I18n.locale == :en %><br><% end %>
  <%= t("about.facts.nationality_list") %>
</p>
  <p class="mb-1"><strong><%= t("about.facts.hobbies") %>:</strong> Hiking, Sim Racing</p>

  <p class="mb-1"><strong><%= t("about.facts.cities") %>:</strong> Seoul, Vancouver</p>
  <p class="mb-1"><strong><%= t("about.facts.food") %>:</strong> <%= t("about.facts.food_list") %></p>
      <p class="mb-1"><strong><%= t("about.facts.sports") %>:</strong> <%= t("about.facts.sports_list") %></p>
</div>
    </div>

  </div>
</div>